/* Universal Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #595C5F;
    font-size: 2em;
}

.make-orange {
    color: #E55934;
}

.btn {
    text-decoration: none;
    background-image: linear-gradient(to right, #F6A23C, #E55934);
    padding: 1.2em 2.5em;
    border-radius: 2em;
    color: #FFF;
}

img {
    width: 100%;
}

/* top-banner styles */
.top-banner {
    background: #FFF;
    height: 75vh;
    display: flex;
    padding: 100px 200px;
}

.banner-info-container {
    padding: 150px 0;
}

.banner-heading {
    color: #595C5F;
    margin: 0.1em;
    font-size: 2.8em;
}

.banner-img-container {
    text-align: right;
}

.banner-img-container img {
    width: 95%;
}

.banner-para {
    margin: 2em 0 3em 0;
    width: 65%;
    color: grey;
}
/* end of top-banner styles */

/* about-me styles */
.about-me {
    background-image: url(images/shapes/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    overflow: hidden;
}

.about-img-container {
    margin: 70px 50px 0 200px;
}

.about-img-container img {
    width: 100%;
}

.about-info-container {
    margin: 100px 50px 0 100px;
    padding-left: 80px;
}

.about-para {
    width: 60%;
    margin: 2em 0 5em 0;
    line-height: 1.7em;
}
/* end of about-me styles */

/* recipe section styles */
.my-recipes {
    height: 90vh;
    padding: 50px 200px;
    text-align: center;
}

.recipe-info {
    margin: 0.1em;
}

.recipe-article-container {
    padding: 20px 0;
    display: flex;
}

.recipe-article {
    box-shadow: 0 0 19px 1.4px #D4EDE1;
    padding: 1em;
    border-radius: 1em;
    margin: 20px;
    text-align: left;
}

.recipe-article-info {
    line-height: 1.4em;
}
/* end of recipe section styles */

/* advertising section styles */
.advertising {
    height: 40vh;
    padding: 50px 220px;
}

.ad-container {
    margin-top: 50px;
    border-radius: 1em;
    box-shadow: 0 0 19px 1.4px #D4EDE1;
    padding: 50px 200px;
    display: flex;
}

.ad-item {
    margin: 0 35px;
}

.ad-item-heading {
    color: #121212;
    font-weight: 700;
    font-size: 2.5em;
    margin: 0;
}

.ad-item-info {
    font-size: 0.9em;
}


/* end of advertising section styles */